<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>build</key>
	<integer>1</integer>
	<key>cacao</key>
	<array>
		<dict>
			<key>class</key>
			<string>RegularCacaoNotThere</string>
			<key>name</key>
			<string>myPhantomRegularCacao</string>
		</dict>
		<dict>
			<key>autowire</key>
			<array>
				<string>myCityManager</string>
				<string>myNotificationCenter</string>
			</array>
			<key>class</key>
			<string>DummyInhabitantManager</string>
			<key>name</key>
			<string>myInhabitantManager</string>
		</dict>
		<dict>
			<key>autowire</key>
			<array>
				<string>myInhabitantManager</string>
				<string>myFinanceManager</string>
			</array>
			<key>class</key>
			<string>DummyCityManager</string>
			<key>name</key>
			<string>myCityManager</string>
		</dict>
		<dict>
			<key>autowire</key>
			<array>
				<string>myCityManager</string>
				<string>myFinanceManager</string>
			</array>
			<key>class</key>
			<string>DummyStateManager</string>
			<key>name</key>
			<string>myStateManager</string>
		</dict>
	</array>
	<key>manual-cacao</key>
	<array>
		<dict>
			<key>class</key>
			<string>NSNotificationCenter</string>
			<key>name</key>
			<string>myNotificationCenter</string>
		</dict>
		<dict>
			<key>autowire</key>
			<array>
				<string>myStateManager</string>
			</array>
			<key>class</key>
			<string>DummyManualCacao</string>
			<key>name</key>
			<string>myManualCacao</string>
		</dict>
		<dict>
			<key>class</key>
			<string>DummyPlainObject</string>
			<key>name</key>
			<string>myObject</string>
		</dict>
		<dict>
			<key>class</key>
			<string>DummyPlainSubObject</string>
			<key>name</key>
			<string>mySubObject</string>
		</dict>
	</array>
	<key>manual-cacao-provider</key>
	<array>
		<dict>
			<key>class</key>
			<string>DummyManualCacaoProviderSecond</string>
			<key>name</key>
			<string>mySecondProvider</string>
		</dict>
		<dict>
			<key>class</key>
			<string>DummyManualCacaoProvider</string>
			<key>name</key>
			<string>myProvider</string>
		</dict>
	</array>
</dict>
</plist>
