<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>build</key>
        <integer>213</integer>
        <key>cacao</key>
        <array>
            <dict>
                <key>class</key>
                <string>FirstCacao</string>
                <key>name</key>
                <string>firstCacaoName</string>
            </dict>
        </array>
        <key>manual-cacao</key>
        <array>
            <dict>
                <key>class</key>
                <string>FirstManualCacao</string>
                <key>name</key>
                <string>firstManualCacaoName</string>
            </dict>
            <dict>
                <key>class</key>
                <string>SecondManualCacao</string>
                <key>name</key>
                <string>secondManualCacaoName</string>
            </dict>
        </array>
        <key>manual-cacao-provider</key>
        <array>
            <dict>
                <key>class</key>
                <string>FirstManualCacaoProvider</string>
                <key>name</key>
                <string>firstManualCacaoProviderName</string>
            </dict>
        </array>
    </dict>
</plist>
